.container{
  text-align: center;
  margin-left: 700px;
}

.blockField{
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin: 0 auto;
}

.field{
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background: black;
}

.field.open{
  background: white;
  border: none;
}